.DS_Store
.localized
.tern-port
.tern-project
npm-debug.log
*.pyc

# Exclude the nodemodules (but save a symlink to src)
node_modules/*
!node_modules/src

# Exclude the build stuff
public/build/*

# Exclude db config
dbconfig.py
